.App {
  text-align: center;
  font-family: Montserrat
}
.extras-toggle-button,
.goto-box,
.stat-box,
.search-box {
  position: absolute;
  z-index: 1
}
.goto-box,
.stat-box {
  background-color: rgba(25,25,25,.75);
  padding: .5rem;
  position: absolute;
  border-radius: 1rem
}
.search-box {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px
}
.extras-toggle-button {
  top: 1rem;
  right: 1rem;
  padding: .5rem
}
.stat-box {
  color: #fff;
  left: 1rem;
  top: 1rem;
  font-family: monospace;
  font-weight: 700
}
.goto-box {
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 200px
}
.goto-box input {
  width: 100%;
  display: block;
  font-family: Montserrat
}
.extras-toggle-button,
input[type=submit] {
  background-color: purple;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer
}
.MuiFormControl-root {
  background-color: rgba(255,255,255,.9)
}
@media (max-width:480px) {
  html {
    font-size: 14px
  }
  .stat-box {
    font-size: .5rem;
    bottom: 2rem;
    top: inherit
  }
  .goto-box {
    width: 130px
  }
  .extras-toggle-button {
    font-size: 1rem;
    width: 50px;
    bottom: 2rem;
    top: inherit
  }
}